02-SILVER/pipelines/pl_silver_master.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "FabricDataPipelines gabriel.borrat": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "pl_silver_master",
      "type": "pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "InvokeSilverMcc",
            "type": "InvokePipeline",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "waitOnCompletion": true,
              "operationType": "InvokeFabricPipeline",
              "pipelineId": "d8e10bb8-e0e0-4c95-baef-e1112739493e",
              "workspaceId": "eb329c81-2277-4112-8f23-571b924dcd04",
              "parameters": {
                "p_entity_code": "mcc",
                "p_load_mode": "full"
              }
            },
            "externalReferences": {
              "connection": "[parameters('FabricDataPipelines gabriel.borrat')]"
            }
          },
          {
            "name": "InvokeSilverFX",
            "type": "InvokePipeline",
            "dependsOn": [
              {
                "activity": "InvokeSilverCards",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "waitOnCompletion": true,
              "operationType": "InvokeFabricPipeline",
              "pipelineId": "d8e10bb8-e0e0-4c95-baef-e1112739493e",
              "workspaceId": "eb329c81-2277-4112-8f23-571b924dcd04",
              "parameters": {
                "p_entity_code": "fx_rates",
                "p_load_mode": "full"
              }
            },
            "externalReferences": {
              "connection": "[parameters('FabricDataPipelines gabriel.borrat')]"
            }
          },
          {
            "name": "InvokeSilverCards",
            "type": "InvokePipeline",
            "dependsOn": [
              {
                "activity": "InvokeSilverUsers",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "waitOnCompletion": true,
              "operationType": "InvokeFabricPipeline",
              "pipelineId": "d8e10bb8-e0e0-4c95-baef-e1112739493e",
              "workspaceId": "eb329c81-2277-4112-8f23-571b924dcd04",
              "parameters": {
                "p_entity_code": "cards",
                "p_load_mode": "full"
              }
            },
            "externalReferences": {
              "connection": "[parameters('FabricDataPipelines gabriel.borrat')]"
            }
          },
          {
            "name": "InvokeSilverUsers",
            "type": "InvokePipeline",
            "dependsOn": [
              {
                "activity": "InvokeSilverMcc",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "waitOnCompletion": true,
              "operationType": "InvokeFabricPipeline",
              "pipelineId": "d8e10bb8-e0e0-4c95-baef-e1112739493e",
              "workspaceId": "eb329c81-2277-4112-8f23-571b924dcd04",
              "parameters": {
                "p_entity_code": "users",
                "p_load_mode": "full"
              }
            },
            "externalReferences": {
              "connection": "[parameters('FabricDataPipelines gabriel.borrat')]"
            }
          },
          {
            "name": "InvokeSilverTransactions",
            "type": "InvokePipeline",
            "dependsOn": [
              {
                "activity": "InvokeSilverFX",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "waitOnCompletion": true,
              "operationType": "InvokeFabricPipeline",
              "pipelineId": "d8e10bb8-e0e0-4c95-baef-e1112739493e",
              "workspaceId": "eb329c81-2277-4112-8f23-571b924dcd04",
              "parameters": {
                "p_entity_code": "transactions",
                "p_load_mode": "full"
              }
            },
            "externalReferences": {
              "connection": "[parameters('FabricDataPipelines gabriel.borrat')]"
            }
          }
        ],
        "lastModifiedByObjectId": "871e52e6-9b89-4437-9ee4-ef6cc511763d",
        "lastPublishTime": "2026-01-19T11:09:35Z"
      },
      "dependsOn": []
    },
    {
      "name": "pl_silver_load_generic",
      "type": "pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "NotebookSilverLoad",
            "type": "TridentNotebook",
            "dependsOn": [
              {
                "activity": "SetRunId",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "notebookId": "9b0039ac-d636-403b-92fe-d0e65dca3959",
              "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
              "parameters": {
                "run_id": {
                  "value": {
                    "value": "@variables('v_run_id')",
                    "type": "Expression"
                  },
                  "type": "string"
                },
                "entity_code": {
                  "value": {
                    "value": "@pipeline().parameters.p_entity_code",
                    "type": "Expression"
                  },
                  "type": "string"
                },
                "load_mode": {
                  "value": {
                    "value": "@pipeline().parameters.p_load_mode",
                    "type": "Expression"
                  },
                  "type": "string"
                },
                "as_of_date": {
                  "value": {
                    "value": "@pipeline().parameters.p_as_of_date",
                    "type": "Expression"
                  },
                  "type": "string"
                }
              }
            }
          },
          {
            "name": "SetRunId",
            "type": "SetVariable",
            "dependsOn": [],
            "policy": {
              "secureOutput": false,
              "secureInput": false
            },
            "typeProperties": {
              "variableName": "v_run_id",
              "value": {
                "value": "@if(\n  equals(pipeline().parameters.p_run_id, ''),\n  concat(\n    'silver_',\n    formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'),\n    '_',\n    pipeline().RunId\n  ),\n  pipeline().parameters.p_run_id\n)\n",
                "type": "Expression"
              }
            }
          }
        ],
        "parameters": {
          "p_entity_code": {
            "type": "string",
            "defaultValue": "ALL"
          },
          "p_load_mode": {
            "type": "string",
            "defaultValue": "full"
          },
          "p_as_of_date": {
            "type": "string"
          },
          "p_run_id": {
            "type": "string"
          }
        },
        "variables": {
          "v_run_id": {
            "type": "String"
          }
        },
        "lastModifiedByObjectId": "871e52e6-9b89-4437-9ee4-ef6cc511763d",
        "lastPublishTime": "2025-12-26T16:45:15Z"
      },
      "dependsOn": []
    }
  ]
}