01-BRONZE/pipelines/pl_bronze_ingest_generic.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "https://s3.amazonaws.com gabriel.borrat": {
            "type": "string"
        },
        "lh_wm_core": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "name": "pl_bronze_ingest_generic",
            "type": "pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "GetFileList_Generic",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "fieldList": [
                                "childItems"
                            ],
                            "datasetSettings": {
                                "annotations": [],
                                "type": "Binary",
                                "typeProperties": {
                                    "location": {
                                        "type": "AmazonS3Location",
                                        "bucketName": "gabefirstbucket",
                                        "folderPath": {
                                            "value": "@pipeline().parameters.p_SourcePath",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "externalReferences": {
                                    "connection": "[parameters('https://s3.amazonaws.com gabriel.borrat')]"
                                }
                            },
                            "storeSettings": {
                                "type": "AmazonS3ReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "BinaryReadSettings"
                            }
                        }
                    },
                    {
                        "name": "ForEach_GenericFiles",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Set_TotalCandidatesFiles",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "typeProperties": {
                            "items": {
                                "value": "@variables('v_FilesToProcess')\n",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Copy_ToLanding_Generic",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "Get_File_Additional_Metadata",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 3,
                                        "retryIntervalInSeconds": 60,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "source": {
                                            "type": "BinarySource",
                                            "storeSettings": {
                                                "type": "AmazonS3ReadSettings",
                                                "recursive": true
                                            },
                                            "formatSettings": {
                                                "type": "BinaryReadSettings"
                                            },
                                            "datasetSettings": {
                                                "annotations": [],
                                                "type": "Binary",
                                                "typeProperties": {
                                                    "location": {
                                                        "type": "AmazonS3Location",
                                                        "bucketName": "gabefirstbucket",
                                                        "folderPath": {
                                                            "value": "@pipeline().parameters.p_SourcePath",
                                                            "type": "Expression"
                                                        },
                                                        "fileName": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                },
                                                "externalReferences": {
                                                    "connection": "[parameters('https://s3.amazonaws.com gabriel.borrat')]"
                                                }
                                            }
                                        },
                                        "sink": {
                                            "type": "BinarySink",
                                            "storeSettings": {
                                                "type": "LakehouseWriteSettings"
                                            },
                                            "datasetSettings": {
                                                "annotations": [],
                                                "connectionSettings": {
                                                    "name": "lh_wm_core",
                                                    "properties": {
                                                        "annotations": [],
                                                        "type": "Lakehouse",
                                                        "typeProperties": {
                                                            "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                                                            "artifactId": "[parameters('lh_wm_core')]",
                                                            "rootFolder": "Files"
                                                        },
                                                        "externalReferences": {
                                                            "connection": "2295f4d2-96d6-48ec-aa0f-ddec62306b0a"
                                                        }
                                                    }
                                                },
                                                "type": "Binary",
                                                "typeProperties": {
                                                    "location": {
                                                        "type": "LakehouseLocation",
                                                        "fileName": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        },
                                                        "folderPath": {
                                                            "value": "@concat(\n    pipeline().parameters.p_LandingPath, \n    formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'),\n    '/'\n)\n",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "enableStaging": false
                                    }
                                },
                                {
                                    "name": "LoadBronzeNotebook_Generic",
                                    "type": "TridentNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "Copy_ToLanding_Generic",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 2,
                                        "retryIntervalInSeconds": 120,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "notebookId": "83c720f0-1f02-4d5d-8152-92d2aa404d02",
                                        "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                                        "parameters": {
                                            "LandingPath": {
                                                "value": {
                                                    "value": "@concat(\n    'Files/',\n    pipeline().parameters.p_LandingPath,\n    formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'),\n    '/'\n)\n\n\n",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "Entity": {
                                                "value": {
                                                    "value": "@pipeline().parameters.p_Entity",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "ExecDate": {
                                                "value": {
                                                    "value": "@formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd')",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                {
                                    "name": "CopyToArchive_Generic",
                                    "type": "Copy",
                                    "dependsOn": [
                                        {
                                            "activity": "LoadBronzeNotebook_Generic",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 3,
                                        "retryIntervalInSeconds": 60,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "source": {
                                            "type": "BinarySource",
                                            "storeSettings": {
                                                "type": "LakehouseReadSettings",
                                                "recursive": false
                                            },
                                            "formatSettings": {
                                                "type": "BinaryReadSettings"
                                            },
                                            "datasetSettings": {
                                                "annotations": [],
                                                "connectionSettings": {
                                                    "name": "lh_wm_core",
                                                    "properties": {
                                                        "annotations": [],
                                                        "type": "Lakehouse",
                                                        "typeProperties": {
                                                            "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                                                            "artifactId": "[parameters('lh_wm_core')]",
                                                            "rootFolder": "Files"
                                                        },
                                                        "externalReferences": {
                                                            "connection": "2295f4d2-96d6-48ec-aa0f-ddec62306b0a"
                                                        }
                                                    }
                                                },
                                                "type": "Binary",
                                                "typeProperties": {
                                                    "location": {
                                                        "type": "LakehouseLocation",
                                                        "fileName": {
                                                            "value": "@item().name\n",
                                                            "type": "Expression"
                                                        },
                                                        "folderPath": {
                                                            "value": "@concat(\n    pipeline().parameters.p_LandingPath,\n    formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'),\n    '/'\n)\n\n",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "sink": {
                                            "type": "BinarySink",
                                            "storeSettings": {
                                                "type": "LakehouseWriteSettings"
                                            },
                                            "datasetSettings": {
                                                "annotations": [],
                                                "connectionSettings": {
                                                    "name": "lh_wm_core",
                                                    "properties": {
                                                        "annotations": [],
                                                        "type": "Lakehouse",
                                                        "typeProperties": {
                                                            "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                                                            "artifactId": "[parameters('lh_wm_core')]",
                                                            "rootFolder": "Files"
                                                        },
                                                        "externalReferences": {
                                                            "connection": "2295f4d2-96d6-48ec-aa0f-ddec62306b0a"
                                                        }
                                                    }
                                                },
                                                "type": "Binary",
                                                "typeProperties": {
                                                    "location": {
                                                        "type": "LakehouseLocation",
                                                        "fileName": {
                                                            "value": "@item().name\n",
                                                            "type": "Expression"
                                                        },
                                                        "folderPath": {
                                                            "value": "@concat(\n    pipeline().parameters.p_ArchivePath,\n    formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'),\n    '/'\n)\n",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "enableStaging": false
                                    }
                                },
                                {
                                    "name": "Set_ProcessedFromTmp",
                                    "type": "SetVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "Inc_ProcessedTmp",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "variableName": "v_ProcessedFiles",
                                        "value": {
                                            "value": "@variables('v_ProcessedFilesTmp')\n\n",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "Inc_ProcessedTmp",
                                    "type": "SetVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "CopyToArchive_Generic",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "variableName": "v_ProcessedFilesTmp",
                                        "value": {
                                            "value": "@add(variables('v_ProcessedFiles'), 1)\n",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "Inc_FailedTmp",
                                    "type": "SetVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "Copy_ToLanding_Generic",
                                            "dependencyConditions": [
                                                "Failed"
                                            ]
                                        },
                                        {
                                            "activity": "LoadBronzeNotebook_Generic",
                                            "dependencyConditions": [
                                                "Failed"
                                            ]
                                        },
                                        {
                                            "activity": "CopyToArchive_Generic",
                                            "dependencyConditions": [
                                                "Failed"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "variableName": "v_FailedFilesTmp",
                                        "value": {
                                            "value": "@add(variables('v_FailedFiles'), 1)\n",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "Set_FailedFromTmp",
                                    "type": "SetVariable",
                                    "dependsOn": [
                                        {
                                            "activity": "Inc_FailedTmp",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "variableName": "v_FailedFiles",
                                        "value": {
                                            "value": "@variables('v_FailedFilesTmp')\n",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "Update_Manifest_Success",
                                    "type": "TridentNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "Set_ProcessedFromTmp",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "notebookId": "f4f25906-c588-4870-8761-496b0f0a3c18",
                                        "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                                        "parameters": {
                                            "status": {
                                                "value": "SUCCESS",
                                                "type": "string"
                                            },
                                            "entity": {
                                                "value": {
                                                    "value": "@pipeline().parameters.p_Entity",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "file_path": {
                                                "value": {
                                                    "value": "@item().file_path",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "source_name": {
                                                "value": {
                                                    "value": "@item().name",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "file_size": {
                                                "value": {
                                                    "value": "@activity('Get_File_Additional_Metadata').output.size",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "modified_datetime": {
                                                "value": {
                                                    "value": "@activity('Get_File_Additional_Metadata').output.lastModified",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "exec_date": {
                                                "value": {
                                                    "value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd')\n",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "ingestion_mode": {
                                                "value": {
                                                    "value": "@pipeline().parameters.p_IngestionMode",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "total_source_files": {
                                                "value": {
                                                    "value": "@variables('v_TotalFiles')",
                                                    "type": "Expression"
                                                },
                                                "type": "int"
                                            },
                                            "total_candidates_files": {
                                                "value": {
                                                    "value": "@variables('v_TotalCandidateFiles')",
                                                    "type": "Expression"
                                                },
                                                "type": "int"
                                            }
                                        }
                                    }
                                },
                                {
                                    "name": "Update_Manifest_Failed",
                                    "type": "TridentNotebook",
                                    "dependsOn": [
                                        {
                                            "activity": "Set_FailedFromTmp",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "notebookId": "f4f25906-c588-4870-8761-496b0f0a3c18",
                                        "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                                        "parameters": {
                                            "status": {
                                                "value": "FAILED",
                                                "type": "string"
                                            },
                                            "entity": {
                                                "value": {
                                                    "value": "@pipeline().parameters.p_Entity",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "file_path": {
                                                "value": {
                                                    "value": "@item().file_path",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "source_name": {
                                                "value": {
                                                    "value": "@item().name",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "file_size": {
                                                "value": {
                                                    "value": "@activity('Get_File_Additional_Metadata').output.size",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "modified_time": {
                                                "value": {
                                                    "value": "@activity('Get_File_Additional_Metadata').output.lastModified",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "exec_date": {
                                                "value": {
                                                    "value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd')\n",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "ingestion_mode": {
                                                "value": {
                                                    "value": "@pipeline().parameters.p_IngestionMode",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "total_source_files": {
                                                "value": {
                                                    "value": "@variables('v_TotalFiles')",
                                                    "type": "Expression"
                                                },
                                                "type": "int"
                                            },
                                            "total_candidate_files": {
                                                "value": {
                                                    "value": "@variables('v_TotalCandidateFiles')",
                                                    "type": "Expression"
                                                },
                                                "type": "int"
                                            }
                                        }
                                    }
                                },
                                {
                                    "name": "Get_File_Additional_Metadata",
                                    "type": "GetMetadata",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "fieldList": [
                                            "lastModified",
                                            "size"
                                        ],
                                        "datasetSettings": {
                                            "annotations": [],
                                            "type": "Binary",
                                            "typeProperties": {
                                                "location": {
                                                    "type": "AmazonS3Location",
                                                    "bucketName": "gabefirstbucket",
                                                    "folderPath": {
                                                        "value": "@pipeline().parameters.p_SourcePath",
                                                        "type": "Expression"
                                                    },
                                                    "fileName": {
                                                        "value": "@item().name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "externalReferences": {
                                                "connection": "[parameters('https://s3.amazonaws.com gabriel.borrat')]"
                                            }
                                        },
                                        "storeSettings": {
                                            "type": "AmazonS3ReadSettings",
                                            "recursive": true,
                                            "enablePartitionDiscovery": false
                                        },
                                        "formatSettings": {
                                            "type": "BinaryReadSettings"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "WriteIngestionLog_Generic",
                        "type": "TridentNotebook",
                        "dependsOn": [
                            {
                                "activity": "Derive_Status",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "notebookId": "6484b065-de7a-485f-8196-649e8e0e153f",
                            "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                            "parameters": {
                                "exec_date": {
                                    "value": {
                                        "value": "@formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd')\n",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "entity": {
                                    "value": {
                                        "value": "@pipeline().parameters.p_Entity",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "total_files": {
                                    "value": {
                                        "value": "@variables('v_TotalFiles')\n\n",
                                        "type": "Expression"
                                    },
                                    "type": "int"
                                },
                                "processed_files": {
                                    "value": {
                                        "value": "@variables('v_ProcessedFiles')",
                                        "type": "Expression"
                                    },
                                    "type": "int"
                                },
                                "failed_files": {
                                    "value": {
                                        "value": "@variables('v_FailedFiles')",
                                        "type": "Expression"
                                    },
                                    "type": "int"
                                },
                                "status": {
                                    "value": {
                                        "value": "@variables('v_Status')\n",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "ingestion_mode": {
                                    "value": {
                                        "value": "@pipeline().parameters.p_IngestionMode",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "total_candidate_files": {
                                    "value": {
                                        "value": "@variables('v_TotalCandidateFiles')",
                                        "type": "Expression"
                                    },
                                    "type": "int"
                                }
                            }
                        }
                    },
                    {
                        "name": "Set_TotalFiles",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "GetFileList_Generic",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "variableName": "v_TotalFiles",
                            "value": {
                                "value": "@length(activity('GetFileList_Generic').output.childItems)\n",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Derive_Status",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "ForEach_GenericFiles",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "variableName": "v_Status",
                            "value": {
                                "value": "@if(\n  equals(variables('v_TotalFiles'), 0),\n  'NO_DATA',\n  if(\n    and(\n      equals(variables('v_FailedFiles'), 0),\n      equals(variables('v_ProcessedFiles'), variables('v_TotalFiles'))\n    ),\n    'SUCCESS',\n    if(\n      and(\n        equals(variables('v_ProcessedFiles'), 0),\n        greater(variables('v_FailedFiles'), 0)\n      ),\n      'FAILED',\n      'PARTIAL'\n    )\n  )\n)\n",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Prepare_Incremental_List",
                        "description": "1 df = file list (name,file_path) from S3 bucket metadata left outer join 1df = manifest table data ",
                        "type": "TridentNotebook",
                        "dependsOn": [
                            {
                                "activity": "Set_TotalFiles",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "notebookId": "7990d5f2-994b-4f9e-b42b-dc7bceaadde2",
                            "workspaceId": "300f0249-d03f-436c-97fc-5b5940cc3aa3",
                            "parameters": {
                                "entity": {
                                    "value": {
                                        "value": "@pipeline().parameters.p_Entity",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "ingestion_mode": {
                                    "value": {
                                        "value": "@pipeline().parameters.p_IngestionMode",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "source_path": {
                                    "value": {
                                        "value": "@pipeline().parameters.p_SourcePath",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                },
                                "all_files_json": {
                                    "value": {
                                        "value": "@string(activity('GetFileList_Generic').output.childItems)\n",
                                        "type": "Expression"
                                    },
                                    "type": "string"
                                }
                            }
                        }
                    },
                    {
                        "name": "Set_FilesToProcess",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Prepare_Incremental_List",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "variableName": "v_FilesToProcess",
                            "value": {
                                "value": "@json(activity('Prepare_Incremental_List').output.result.exitValue)\n\n\n\n",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Set_TotalCandidatesFiles",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Set_FilesToProcess",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "variableName": "v_TotalCandidateFiles",
                            "value": {
                                "value": "@length(variables('v_FilesToProcess'))\n",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "parameters": {
                    "p_Entity": {
                        "type": "string",
                        "defaultValue": "FX"
                    },
                    "p_SourcePath": {
                        "type": "string",
                        "defaultValue": "FX-rates-since2004-dataset/"
                    },
                    "p_LandingPath": {
                        "type": "string",
                        "defaultValue": "landing/fx/"
                    },
                    "p_ArchivePath": {
                        "type": "string",
                        "defaultValue": "archive/fx/"
                    },
                    "p_IngestionMode": {
                        "type": "string",
                        "defaultValue": "INCR"
                    },
                    "p_WatermarkDays": {
                        "type": "int",
                        "defaultValue": 2
                    }
                },
                "variables": {
                    "v_TotalFiles": {
                        "type": "Integer",
                        "defaultValue": 0
                    },
                    "v_ProcessedFiles": {
                        "type": "Integer",
                        "defaultValue": 0
                    },
                    "v_ProcessedFilesTmp": {
                        "type": "Integer",
                        "defaultValue": 0
                    },
                    "v_FailedFiles": {
                        "type": "Integer",
                        "defaultValue": 0
                    },
                    "v_FailedFilesTmp": {
                        "type": "Integer",
                        "defaultValue": 0
                    },
                    "v_Status": {
                        "type": "String",
                        "defaultValue": "NO_DATA"
                    },
                    "v_FilesToProcess": {
                        "type": "Array"
                    },
                    "v_TotalCandidateFiles": {
                        "type": "Integer",
                        "defaultValue": 0
                    }
                },
                "lastModifiedByObjectId": "871e52e6-9b89-4437-9ee4-ef6cc511763d",
                "lastPublishTime": "2025-12-26T16:15:31Z"
            },
            "dependsOn": []
        }
    ]
}